# Analiza danych

---

## Import pakietów i modułów

In [1]:
import sqlite3
import pandas as pd
import numpy as np
import functions as fun

---

## Tworzenie bazy danych

In [5]:
conn = sqlite3.connect("pd3_data_base.db")

In [ ]:
fitness = fun.read_csv_files_and_add_to_data_base("fitness_stackexchange_com", "F", conn)
interpersonal = fun.read_csv_files_and_add_to_data_base("interpersonal_stackexchange_com", "I", conn)
worldbuilding = fun.read_csv_files_and_add_to_data_base("worldbuilding_stackexchange_com", "W", conn)

---

## Przykładowe wywołania

In [5]:
fitness["VotesF"].head()

,Id,PostId,VoteTypeId,CreationDate,UserId,BountyAmount
0,1,2,2,2011-03-01T00:00:00.000,NaN,NaN
1,2,3,5,34,2011-03-01T00:00:00.000,NaN
2,3,6,5,34,2011-03-01T00:00:00.000,NaN
3,4,6,2,2011-03-01T00:00:00.000,NaN,NaN
4,5,13,2,2011-03-01T00:00:00.000,NaN,NaN

---

## Zapytania i wykresy

---