# Analiza danych

---

## Import pakietów i modułów

In [1]:
import sqlite3
import pandas as pd
import numpy as np
import functions as fun

---

## Tworzenie bazy danych

In [2]:
conn = sqlite3.connect("pd3_data_base.db")

In [3]:
fitness = fun.read_csv_files_and_add_to_data_base("fitness_stackexchange_com", "F", conn)
interpersonal = fun.read_csv_files_and_add_to_data_base("interpersonal_stackexchange_com", "I", conn)
worldbuilding = fun.read_csv_files_and_add_to_data_base("worldbuilding_stackexchange_com", "W", conn)

---

## Przykładowe wywołania

In [4]:
fitness["VotesF"].head()

   Id  PostId  VoteTypeId             CreationDate  UserId  BountyAmount
0   1       2           2  2011-03-01T00:00:00.000     NaN           NaN
1   2       3           5  2011-03-01T00:00:00.000    34.0           NaN
2   3       6           5  2011-03-01T00:00:00.000    34.0           NaN
3   4       6           2  2011-03-01T00:00:00.000     NaN           NaN
4   5      13           2  2011-03-01T00:00:00.000     NaN           NaN

In [5]:
interpersonal["UsersI"].head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,ProfileImageUrl,WebsiteUrl
0,-1,1,2017-06-26T21:49:21.410,Community,2017-06-26T21:49:21.410,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n<p>I'm ...",0.0,2231.0,4082.0,-1.0,NaN,NaN
1,1,101,2017-06-26T22:16:44.443,Adam Lear,2018-11-25T02:06:59.253,"New York, NY",\n\n<p>Developer at Stack Overflow. Canadian w...,451.0,0.0,0.0,37099.0,https://i.stack.imgur.com/SMEGn.jpg?s=128&g=1,NaN
2,2,101,2017-06-27T12:33:29.643,Nick Craver,2018-04-30T14:47:46.147,"Winston-Salem, NC",<p>I am the Architecture Lead for Stack Overfl...,31.0,0.0,0.0,7598.0,https://i.stack.imgur.com/nGCYr.jpg?s=128&g=1,https://nickcraver.com/blog/
3,3,90,2017-06-27T14:57:50.307,Robert Cartaino,2018-11-27T15:38:21.013,"Palm Bay, FL","<p><a href=""http://blog.stackoverflow.com/2010...",428.0,10.0,81.0,34933.0,https://www.gravatar.com/avatar/2cf2eee5993f6c...,NaN
4,4,101,2017-06-27T14:57:52.400,Taryn,2018-09-07T14:13:56.707,Arizona,"<p>developer, techie, nerd.... DBA at Stack Ov...",26.0,0.0,0.0,188123.0,NaN,https://tarynpivots.com

In [6]:
worldbuilding["CommentsW"].head()

,Id,PostId,Score,Text,CreationDate,UserId,UserDisplayName
0,5,3,10,I feel like this question should also require ...,2014-09-16T18:37:00.430,17.0,NaN
1,7,13,0,"I believe, but don't have references handy to ...",2014-09-16T19:04:31.863,29.0,NaN
2,8,13,0,"Also, are you concerned with news reporting **...",2014-09-16T19:06:05.700,29.0,NaN
3,9,12,0,"True, Harry Potter combines the elements, but ...",2014-09-16T19:13:59.650,28.0,NaN
4,10,19,0,I think this would be better on Linguistics.st...,2014-09-16T19:15:27.260,15.0,NaN

---

## Zapytania i wykresy

---